<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpugs.mybatis.mapper.IUserMapper">

	<resultMap type="User" id="user">
		<id property="id" column="id"/>
		<id property="name" column="name"/>
		<id property="phone" column="phone"/>
		<id property="pwd" column="pwd"/>
		<id property="address" column="address"/>
		<id property="remark" column="remark"/>
	</resultMap>
	
  <select id="selectUser" parameterType="Integer" resultMap="user">
    select * from user where id = #{id}
  </select>
  
  <select id="getUserListByGradeId" parameterType="Integer" resultMap="user">
  	select * from user where grade_id = #{gradeId}
  </select>
</mapper>